{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Notification plugin for Craft CMS
 *
 * NotificationWidget Widget Body
 *
 * @author    Fatfish
 * @copyright Copyright (c) 2018 Fatfish
 * @link      https://fatfish.com.au
 * @package   Notification
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@fatfish/notification/assetbundles/notificationwidgetwidget/dist', true) ~ '/img/NotificationWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
