<?xml version="1.0"?>
<Servers>
  <Server id="1">
    <id>1</id>
    <name>mysqls</name>
    <port>3306</port>
    <threshold>11</threshold>
    <server_ip>172.16.238.12</server_ip>
  </Server>
  <Server id="2">
    <id>2</id>
    <name>Apache</name>
    <port>80</port>
    <threshold>11</threshold>
    <server_ip>172.16.238.11</server_ip>
  </Server>
</Servers>
