<?xml version="1.0"?>
<Settings><Server><Slack>https://hooks.slack.com/services/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</Slack><Email>lnxgeeks@gmail.com</Email></Server><Craft><Email>lnxgeeks@gmail.com</Email><Slack>https://hooks.slack.com/services/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</Slack></Craft></Settings>
